body {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
    background: #eee;
    max-height: 100vh;
}

main {
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.2rem 0.2rem;
    width: 100%;
    gap: 3rem;
    flex: 1;
}

p {
    text-wrap: balance;
    line-height: 1.4rem;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    max-width: 720px;
    margin: 0 auto;
    width: 100%;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: calc(-0.05 * 3rem);
}

a {
    text-decoration: none ;
    color: inherit !important;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

button {
    background: #ddd;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    box-shadow: 0px 2px 12px -6px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 40px;
    border-radius: 20px;
    border: none;
}

button > svg:hover {
    cursor: copy;
}

footer > ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.action {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.action > a {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

@media  screen and (max-width: 425px) {
    footer > ul {
        flex-direction: column;
        gap: 1rem;
    }
}
